/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  box-sizing: border-box;
}

#root .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#root .trigger:hover {
  color: #1890ff;
}

#root .logo {
  height: 60px;
  position: relative;
}

#root .logo img {
  position: relative;
  height: inherit;
  color: #fff;
  position: absolute;
  height: 40px;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  transition: 0.5s ease-in-out all;
}

#root .logo span {
  color: #0070b5;
  font-size: 24px;
  display: inline-block;
  margin-top: 0px;
  position: absolute;
  top: 12px;
  left: 50px;
  transition: 0.6s ease-in-out all;
}


.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #0070b5;
}

.ant-tree.ant-tree-directory > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li.ant-tree-treenode-selected > span.ant-tree-node-content-wrapper:before {
  background: #0070b5 !important;
}

.ant-layout-sider-collapsed .logo img {
  left: 50% !important;
  transform: translate3D(-50%, -50%, 0) !important;
}

.ant-layout-sider-collapsed .logo span {
  opacity: 0;
}